# .env 檔案內容

# 帳號密碼
FUBO_USER_ID="您的 ID"
FUBO_PASSWORD="您的密碼"

# 憑證資訊
FUBO_CERT_PASS="您的憑證密碼"

# # 憑證路徑(舊)
# FUBO_CERT_PATH="cert_path.pfx"

# --- MySQL Database Configuration ---
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=您的DB密碼
DB_NAME=您的DB名稱
DB_PORT=您的DB port

# Windows 專用路徑
CERT_PATH_WIN="Windows 憑證存放路徑"

# Mac 專用路徑
CERT_PATH_MAC="MacOS 憑證存放路徑"

# TG bot
TG_BOT_TOKEN = "TG_BOT_TOKEN"
TG_CHAT_ID = "TG_CHAT_ID"
# 重命名此檔案為.env